body{

font-family:Arial;
margin:0;
background:#f5f7fa;

}

/* NAVBAR */

.navbar{

display:flex;
justify-content:space-between;
padding:15px 40px;
background:#1e3a8a;
color:white;

}

.nav-links{

display:flex;
gap:20px;
list-style:none;

}

.nav-links a{

color:white;
text-decoration:none;

}

.nav-links a.active{

border-bottom:2px solid #22c55e;

}

/* HERO */

.hero{

background:linear-gradient(120deg,#0f172a,#1e3a8a);
color:white;
padding:120px 20px;
text-align:center;

}

/* SECTIONS */

.section{

padding:80px 10%;
text-align:center;

}

.dark{

background:#0f172a;
color:white;

}

/* CARDS */

.problem-grid{

display:flex;
justify-content:center;
gap:30px;

}

.problem-card{

background:white;
padding:20px;
border-radius:10px;
width:220px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);

}

/* FEATURES */

.features{

display:flex;
justify-content:center;
gap:40px;

}

/* PIPELINE */

.pipeline{

display:flex;
justify-content:center;
align-items:center;
gap:15px;

}

.stage{

padding:15px 25px;
background:#2563eb;
color:white;
border-radius:8px;
transition:0.3s;

}

/* METRICS */

.metrics{

display:flex;
justify-content:center;
gap:40px;

}

.metric{

font-size:30px;

}

/* TEAM */

.team{

display:flex;
justify-content:center;
gap:30px;

}

.member{

background:#2563eb;
color:white;
padding:15px 20px;
border-radius:8px;

}

/* SIM BUTTON */

.sim-button{

display:inline-block;
margin-top:20px;
padding:14px 30px;

background:linear-gradient(135deg,#16a34a,#22c55e);
color:white;
font-weight:bold;

border-radius:8px;
text-decoration:none;

transition:0.3s;

}

.sim-button:hover{

transform:scale(1.05);

}

/* FOOTER */

footer{

background:#1e3a8a;
color:white;
text-align:center;
padding:20px;

}
